@charset "utf-8";
/* ESTILOS GERAIS */
/*@import url("//fonts.googleapis.com/css?family=Roboto:300,400,500,700");
*/@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}
* {
    box-sizing: border-box;
}
body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #464646;
}

div {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-size: .85em;
}

a {
    color: #337ab7;
    text-decoration: none;
}
a:hover {
    color: #fb0049;
    text-decoration: overline;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

nav {
    display: block;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

ul{
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
li {
    text-align: -webkit-match-parent;
}

@media (max-width: 680px) {
    .nav {
        width: 100%;
        margin: 0;
        padding: 5px;
    }
    .nav>li>.botao-menu {
        margin: -5px 0;
        padding: 10px;
    }
    .nav>li > .botao-menu:hover {
        text-decoration: none;
    }
    .nav-pills > li {
        float: none;
    }
    .logo {
        margin-top: -15px;
    }
    .coluna {
        min-width: 100%;
    }
    .form-group .form-label {
        text-align: left;
    }
    .lateral, .col-25, .col-75 {
        min-width: 100%;
    }
    #gb-mensagens {
        margin: 0;
        min-width: 100%;
    }
}

.nav>li {
    position: relative;
    display: block;
}

.nav-pills > li {
    float: left;
}
.botao-menu {
    color: #000000;
    border-bottom: 3px solid #a0ddff;
}
.botao-menu:hover {
    background-color: #e6e6e6;
}

header, footer {
    padding-right: 15px;
    padding-left: 15px;
}


header {
    margin-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 10px;
}

h1, h2, h3, h4, h5{
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #000000;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    clear: both;
}

.conteudo {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
}

.linha {
    margin-right: -15px;
    margin-left: -15px;
}

.coluna {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-100 {
    width: 100%;
}
.col-75 {
    width: 75%;
}
.col-50 {
    width: 50%;
}
.col-33 {
    width: 33.3333333333333333333%;
}
.col-25 {
    width: 25%;
}

.lateral{
    font-size: .9em;
    background-color: #ddd;
    margin-top: 10px;
    border-radius: 6px;
    color: #000000;
    padding: 10px;
}
.painel-topo {
    background-image: url('../img/turing-bombe-web.jpg');
    background-position: center;
    padding: 48px 60px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.botao {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.botao:hover {
    background-color: #000000;
    transition: background 1s;
    border: 1px solid transparent;
    color: #fff;
    text-decoration: none;

}

.botao-verde {
    color: #fff;
    background-color: #5cb85c;
}
.botao-azul {
    color: #fff;
    background-color: #337ab7;
}
.botao-vermelho {
    color: #fff;
    background-color: #e1003c;
}
.botao-branco {
    color: #6c6c6c;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-bottom: 3px solid #dcdcdc;
}
.botao-branco:hover {
    border-bottom: 3px solid #dcdcdc;
}
.botao-cinza {
    color: #fff;
    background-color: #d5d5d5;
}
.botao-azul a{
    color: #fff;
}
.botao-grande {
    font-size: 1.2em;
    padding: 10px 15px;
}
.clearfix {
    clear: both;
}

.pull-right {
    float: right!important;
}
.pull-left {
    float: left !important;
}

.texto-cinza {
    color: #777;
}

.texto-azul {
    color: #337ab7;
}
.texto-vermelho {
    color: #e1003c;
}

.texto-branco {
    color: #fff;
    text-shadow: 2px 2px 2px #000000;
}

.text-centro {
    text-align: center;
}
.text-direita {
    text-align: right;
}

.destaque {
    font-size: 1.2em;
}

.legend {
    display: block;
    padding: 0;
    margin-bottom: 15px;
    line-height: inherit;
    color: #212121;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.titulo {
    border-left: 5px solid #c2c2c2;
    font-size: .9em;
}

.titulo .legend {
    padding: 5px 10px;
}

.img-circulo {
    border-radius: 50%;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
textarea.form-control {
    height: auto;
}
.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}
.form-horizontal .botao {

}
.form-group .form-control{
    margin-bottom: 10px;
}

.form-label {
    font-size: .85em;
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}

/* Tabela */
table{
    border: 0 solid black;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 25px;
}

table thead tr{
    text-align: left;
}

table thead tr th{
    margin: 0;
    padding: 2px;
    font-size: 1.2em;
    font-weight: normal;
}

table tr {
    color: black;
    background-color: white;
}

table tr.odd {
    background-color: #dddddd;
}

table tr td, th{
    border-bottom: 1px solid #b2b2b2;
    padding: 5px;
    vertical-align: middle;
}

table tr:hover {
    background-color: #5dcaff;
}
/* Fim Tabela */

/* Foto */
.foto-legenda{
    position: relative;
}
.foto-legenda img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0;
    background-color: rgba(222, 132, 57, 0.64);
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 10px;
    transition: opacity 1s;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,.5);
}
.foto-legenda:hover figcaption{
    opacity: 1;
}
.foto-legenda h3 {
    margin-top: -5px;
}
#pFoto {
    text-indent: 0;
    margin: 0;
    padding: 0;
    font-size: .9em;
}
/* Fim Foto */

.youtube-video {
    min-width: 100%;
    min-height: 340px;
}
/* FIM DOS ESTILOS GERAIS */

/* Galeria */
#album-fotos{
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;
    width: 100%;
}
#album-fotos li{
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: solid 5px #fff;
    background-color: #fff;
    box-shadow: 1px 1px 1px rgba(0,0,0, .4);
}
#album-fotos li span{
    opacity: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.3);
    text-shadow: 1px 1px 1px #000;
    font-size: 9pt;
    line-height: 370px;
    padding: 5px;
    border-radius: 5px;
}
#album-fotos li:hover span{
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}
#album-fotos li:hover{
    transform: scale(1.5);
    transition: all .3s ease-in;
}
#album-fotos li#foto1{
    background:url("../img/galeria/enigma.jpg");
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #fff;
}
#album-fotos li#foto1:hover{
    background-position: 0 0;
    background-size: 200px 200px;
}
#album-fotos li#foto2{
    background:url("../img/galeria/enigma_rotor.jpg");
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #fff;
}
#album-fotos li#foto2:hover{
    background-position: 0 0;
    background-size: 200px 200px;
}
#album-fotos li#foto3{
    background:url("../img/galeria/enigma-web.jpg");
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #fff;
}
#album-fotos li#foto3:hover{
    background-position: 0 0;
    background-size: 200px 200px;
}
#album-fotos li#foto4{
    background:url("../img/galeria/enigma-roller-web.jpg");
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #fff;
}
#album-fotos li#foto4:hover{
    background-position: 0 0;
    background-size: 200px 200px;
}
#album-fotos li#foto5{
    background:url("../img/galeria/enigma-plugboard.jpg");
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #fff;
}
#album-fotos li#foto5:hover{
    background-position: 0 0;
    background-size: 200px 200px;
}
#album-fotos li#foto6{
    background:url("../img/galeria/enigma-b-web.jpg");
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #fff;
}
#album-fotos li#foto6:hover{
    background-position: 0 0;
    background-size: 200px 200px;
}
#album-fotos li{
    border-radius: 200px;
}
/* Fim Galeria */

#musica{
    max-width: 100%;
}
#filme{
    max-width: 100%;
}
#timeline-img {
    width: 400px;
    min-height: 126px;
    float: left;
}
#col-iframe-timeline {
    max-width: 400px;
    padding: 0 15px;
    float: left;
}
#img-time-item {
    border-radius: 10px;
}
#img-timeline{
    width: 400px;
    height: 126px;
}
#timeline-conteudo {
    font-size: .8em;
    padding-bottom: 15px;
}

.bloco-mensagem {
    margin: 5px 0 15px 0;
    padding: 10px;
    border-radius: 10px;
}
.nome-visitante {
    font-size: .9em;
}
.text-mensagem {
    font-size: .9em;
    font-style: italic;
    color: #9a9a9a;
    padding: 0 5px;
    margin: 15px 5px 15px 20px;
    border-left: 3px solid #d4d4d4;
}
.data-hora-mensagem {
    text-align: right;
    font-size: .7em;
    border-top: 1px solid #b2b2b2;
    margin: 0 -10px -5px -10px;
    padding: 2px 5px    0 0;
}
.even {
    background-color: #ffffff;
}
.odd {
    background-color: #e8e8e8;
}
.odd > .text-mensagem {
    border-left: 3px solid #ffffff;
}
.adm-msg {
    list-style: none;
    text-transform: uppercase;
    float: right;
    padding: 0;
    margin: 0 -10px 0 0;
    position: relative;
    top: -10px;
}
.adm-msg li{
    display: inline-block;
}
.adm-msg .botao{
    margin: 0 0 0 -2px;
    padding: 0 5px;
}
.adm-msg .remove{
    position: relative;
    top: 5px;
    right: 5px;
}
.adm-msg .remove{
    color: #000000;
}
.adm-msg .remove:hover{
    color: #9a9a9a;
}
.message-box p {
    padding: 0 10px;
    font-size: 1em;
}
.oculto {
    display: none;
}
.mostrar {
    display: block;
}
.atalho_emoticon {
    margin: 5px;
}

#emoticons {
    margin: 10px 0;
    text-align: center;
}

.message-box {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #fef68d;
    margin: 0 0 20px 0;
}

#gb-mensagens {
    margin: 0 auto;
    width: 80%;
}

.legend ul {
    margin: 0;
}